.animal-pen {
  border: 2px solid black;
  box-shadow: 2px 2px 10px black;
  height: 45vh;
  background-size: cover;
  background-position: center;
  /* NOTE make it lighter? */
  /* background-blend-mode: color;
  background-color: rgba(255, 255, 255, 0.24); */
}

.forest-bg {
  background-image: url(https://images.unsplash.com/photo-1516214104703-d870798883c5?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.lake-bg {
  background-image: url(https://images.unsplash.com/photo-1594175268654-e60bea6c037c?q=80&w=2235&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.jungle-bg {
  background-image: url(https://images.unsplash.com/photo-1560851691-ebb64b584d3d?q=80&w=2398&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.farm-bg {
  background-image: url(https://images.unsplash.com/photo-1444858291040-58f756a3bdd6?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) !important;
}

.animal {
  font-size: 4.2em;
  text-shadow: 1px 1px 5px black;
  width: fit-content;
  margin: 0;
  /* NOTE can no longer highlight */
  user-select: none;
}

marquee {
  height: 100%;
}